@charset "utf-8";

button{
    border: 0;
    outline: 0;
    cursor: pointer;
}
body{
    text-align: center;
    background-color: #000;
}
.game {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    margin: auto;
    background: url(../img/background.png) no-repeat center / cover;
}

.game__header{
    display: flex;
    flex-direction: column;
    padding:20px;
    align-items: center;
}
.game__button{
    width: 60px;
    height: 60px;
    background-color: wheat;
    border: 4px solid;
    font-size: 24px;
    transition: transform 300ms ease-in;
}
.game__button:hover{
    transform: scale(1.1);
}
.game__timer{
    width: 100px;
    background-color: #fff;
    text-align: center;
    border: 5px solid;
    font-size: 32px;
    margin-top: 8px;
    border-radius: 20px;
    visibility: hidden;
    user-select: none;
    cursor: auto;
}
.game__score{
    width: 50px;
    height: 50px;
    font-size: 46px;
    background: darksalmon;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin:8px;
    border: 3px solid #000;
    line-height: 50px;
    visibility: hidden;
    user-select: none;
    cursor: auto;
}

.game__field {
    width:100%;
    height: 100%;
    margin-top:40px;
    position: relative;
}

.pop-up{
    width: 400px;
    height: 140px;
    padding:20px;
    background-color:rgba(0,0,0,0.9);
    color: #fff;
    text-align: center;
    margin: auto;
    transform: translateY(-150%);
    border-radius: 20px;
}
.pop-up--hide{
    display: none;
}
.pop-up__refresh{
    width: 60px;
    height: 60px;
    font-size: 24px;
    background-color: wheat;
    border: 2px solid;
    border-radius: 50%;
}
.pop-up__message{
    display: block;
    font-size: 38px;
    
}
.carrot,.bug{transition:transform 100ms ease-in;}
.carrot:hover, .bug:hover{
    transform:scale(1.1);
}